[submodule "extern/sfml"]
	path = extern/sfml
	url = https://github.com/SFML/SFML.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/imgui-sfml"]
	path = extern/imgui-sfml
	url = https://github.com/SFML/imgui-sfml.git
